/* NAVBAR */

nav {
    height: 10vh;
    width: 100vw;
    background-color: #3c6382;
    z-index: 1;
    position: sticky;
    
}
nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    display: inline-block;
    margin: 3.5vh 4vw;
}
nav ul li a {
    border: 1px solid black;
    padding: 10px;
    color: #fff;
}